allow surfaceflinger sysfs_graphics:lnk_file r_file_perms;
allow surfaceflinger vendor_default_prop:file { getattr open };

add_service(surfaceflinger, default_android_service)
binder_call(surfaceflinger, init)

