allow thermal-engine qmux:unix_stream_socket {connectto};
allow thermal-engine default_prop:file { getattr open read };
allow thermal-engine radio_prop:file { getattr open read };


